<button class="btn btn-primary mb-3" type="button" data-bs-toggle="modal" data-bs-target="#MyPopup">Register Account</button>

<!-- Modal Popup -->
<div id="MyPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Register New Account</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>                        
            </div>
            <div class="modal-body">
                <form onsubmit="Insert()">
                    <div class="mb-3">
                        <label for="Nik" class="form-label">NIK</label>
                        <input type="text" class="form-control" id="Nik">
                    </div>
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName">
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName">
                    </div>                   
                    <div class="mb-3">
                        <select class="form-select" aria-label="Gender" id="Gender">
                            <option hidden>Gender</option>
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="birthDate" class="form-label">Birth Date</label>
                        <input type="date" class="form-control" id="birthDate">
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="phoneNumber">
                    </div>
                    <div class="mb-3">
                        <label for="Major" class="form-label">Major</label>
                        <input type="text" class="form-control" id="Major">
                    </div>
                    <div class="mb-3">
                        <label for="Gpa" class="form-label">GPA</label>
                        <input type="number" class="form-control" id="Gpa">
                    </div>
                    <div class="mb-3">
                        <label for="Degree" class="form-label">Degree</label>
                        <input type="text" class="form-control" id="Degree">
                    </div>
                    <div class="mb-3">
                        <label for="University" class="form-label">University</label>
                        <input type="text" class="form-control" id="University">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="Password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword">
                    </div>
                    @*<div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck">
                        <label class="form-check-label" for="exampleCheck">Data yang saya isikan sudah benar</label>
                    </div>*@
                    <button type="submit" class="btn btn-primary">Submit</button>
                    @*<button id="submit-btn" type="submit" class="btn btn-primary" onclick=Register()>Submit</button>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead class="table-head">
        <tr>
            <th scope="col" class="col-1">NIK</th>
            <th scope="col" class="col-1">First Name</th>
            <th scope="col" class="col-1">Last Name</th>
            <th scope="col" class="col-1">Gender</th>
            <th scope="col" class="col-2">Birth Date</th>    
            <th scope="col" class="col-2">Email</th>
            <th scope="col" class="col-2">Phone Number</th>
            <th scope="col" class="col-2">Hiring Date</th>
           @* <th scope="col" class="col-1">Action</th>*@
        </tr>
    </thead>
    <tbody id="tbodyPoke">
    </tbody>
</table>

<a class="text-dark" asp-area="" asp-controller="Employees" asp-action="Master">Go To Employees Master</a>

@section Scripts{
    <script src="~/js/employees.js"></script>
}