<table class="table table-striped table-hover">
    <thead class="table-head">
        <tr>
            <th scope="col" class="col-1">NIK</th>
            <th scope="col" class="col-1">First Name</th>
            <th scope="col" class="col-1">Last Name</th>
            <th scope="col" class="col-1">Gender</th>
            <th scope="col" class="col-2">Birth Date</th>    
            <th scope="col" class="col-2">Email</th>
            <th scope="col" class="col-2">Phone Number</th>
            <th scope="col" class="col-2">Hiring Date</th>           
        </tr>
    </thead>
    <tbody id="tbodyPoke">
    </tbody>
</table>

@section Scripts{
    <script src="~/js/employees.js"></script>
}