<button class="btn btn-primary mb-3" type="button" data-bs-toggle="modal" data-bs-target="#MyPopup">Add  Role</button>

<!-- Modal Popup -->
<div id="MyPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Roles</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <form onsubmit="Insert()" class="needs-validation">
                    <div class="mb-3">
                        <label for="addRole" class="form-label">Role Name</label>
                        <input type="text" class="form-control" id="addRole" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<table class="table table-striped table-hover">
    <thead class="table-head">
        <tr>
            <th scope="col" class="col-1">No</th>
            <th scope="col" class="col-2">Role</th>
            @*<th scope="col" class="col-2">Action</th>*@
        </tr>
    </thead>
    <tbody id="tbodyRoles">
    </tbody>
</table>

@section Scripts{
    <script src="~/js/roles.js"></script>
}
